<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.domi.udonsari.MemberMapper">
    <resultMap id="memberDto" type="memberDto">
        <result column="user_idx" property="userIdx"></result>
    </resultMap>

    <!-- 회원 가입 -->
    <insert id="insertMember" parameterType="memberSignUpReq">
        insert into USER(uid, pwd, name, address, job, favorite, comment, salt, gender, image, gps)
        values( #{uid}, #{pwd}, #{name}, #{address}, #{job}, #{favorite}, #{comment}, #{salt}, #{gender}, #{image}, #{gps})
    </insert>

    <!-- 회원 가입시 id 중복 체크-->
    <select id="countMember" parameterType="String" resultType="int">
        select count(*) from udonSari.USER where uid = #{uid}
    </select>

    <!-- Salt 값 반환 -->
    <select id="selectMemberSalt" parameterType="String" resultType="String">
        select salt from udonSari.USER WHERE uid = #{uid}
    </select>

    <!-- Login 시 password와 hash password 비교-->
    <select id="selectIdAndPwd" parameterType="memberSignInReq" resultMap="memberDto">
        select * from udonSari.USER WHERE uid= #{uid} AND pwd= #{hashPwd}
    </select>
</mapper>