<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.domi.udonsari.mapper.SariChatMapper">

    <!-- 1:1 채팅방 조회 -->
    <select id="selectSariChatList" parameterType="kr.domi.udonsari.vo.sariChatVO" resultType="kr.domi.udonsari.vo.sariChatVO">
        select * from SARI_ROOM;
    </select>

</mapper>