<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.domi.udonsari.UdonMapper">
    <update id="updateGps" parameterType="gpsReq">
        UPDATE udonSari.USER SET gps=#{regCode} WHERE user_idx = #{idx}
    </update>
</mapper>